<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871012927895-2tjsq7f6v56q4q1l9svvg8iu4bd88n80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871012927895-2tjsq7f6v56q4q1l9svvg8iu4bd88n80</string>
	<key>API_KEY</key>
	<string>AIzaSyCsKmiXOMRvF1ZqHFncHc5eNBF7-i5VAKc</string>
	<key>GCM_SENDER_ID</key>
	<string>871012927895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ta.hosepchoice</string>
	<key>PROJECT_ID</key>
	<string>hosepchoice</string>
	<key>STORAGE_BUCKET</key>
	<string>hosepchoice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871012927895:ios:eb8172d917c3539ce55cd2</string>
	<key>DATABASE_URL</key>
	<string>https://hosepchoice.firebaseio.com</string>
</dict>
</plist>