<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620683473558-cpn250spotbofok63vi6qlnhp1ik6tk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620683473558-cpn250spotbofok63vi6qlnhp1ik6tk0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620683473558-q8qj9r111qgl9m0b57eb7fmlvht4t3o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXrPBlnruiitv7cjV99d8bmvOFmwNatLA</string>
	<key>GCM_SENDER_ID</key>
	<string>620683473558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ta.hosepchoice</string>
	<key>PROJECT_ID</key>
	<string>movieapp-216811</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-216811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620683473558:ios:e9ace87f2c9cb596ba88b7</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-216811.firebaseio.com</string>
</dict>
</plist>